/*COLOR*/
$purle: #ad1fea;
$hoverpurle:  #c85af6;
$darkreder: #d73737;
$reder: #f49f86;
$blu: #4761e6;
$lightblu: #61bdfa;
$hoverblu:  #7b90f9;
$darkgrey: #373f68;
$midgrey: #3a4373;
$lightgrey: #647196;
$hovergrey:#666fa3;
$whitequeen: #ffffff;
$lightskywhite: #f0f2ff;
$lightsky:#f7f8fd;


