
.header{
  max-width: 825px;
  height: 72px;
  background-color:  $darkgrey;
  @include flexu;
  @include bdrs;
  padding: 14px 16px 14px 24px;
 
  &__wrapper{
    @include flexu;
   
  }
  &__link{
    margin-right: 38px;
  }
  &__img{
    width: 156px;
    height: 26px;
  }
  &__list{
   
    &--item{
      @include fontstiyl( 400, 14px, 20px, $lightgrey);

    }
  }
  &__span{
    @include fontstiyl( 400, 14px, 20px, $whitequeen);
    opacity: 0.8;
  }
  
  &__button{
    background-color: $purle;
    color: $whitequeen;
  }
  &__button:hover{
    background-color: $hoverpurle;
  }
} 
@media only screen and (max-width:768px) {
    .header{
     max-width: 689px;
      
    }
}
@media only screen and (max-width:375px){
  .header{
    min-width: 375px;
    height: 56px;
    
    border-radius: 0;
    
    &__link{
      display: none;
    }
  
  }

}